  <div class="ghrm-readme-box">
    <div class="ghrm-readme-header">
      <div class="ghrm-readme-title">
        <svg aria-hidden="true" focusable="false" class="octicon octicon-book">
          <use href="#ghrm-icon-book"></use>
        </svg>
        {{ name }}
      </div>
      <button type="button" class="ghrm-toc-btn" data-ghrm-toc-btn="readme" hidden title="Table of contents" aria-label="Table of contents">
        <svg aria-hidden="true" focusable="false">
          <use href="#ghrm-icon-list"></use>
        </svg>
      </button>
    </div>
    <div class="ghrm-readme-content">
      {{ html }}
    </div>
  </div>
